/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "corne.dtsi"
#include <dt-bindings/behavior_pim447.h>

&default_transform {
    col-offset = <6>;
};

&five_column_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 21 GPIO_ACTIVE_HIGH>
        ;
};

/* nice!nano v2의 I2C 컨트롤러(&i2c0) 설정 */
&i2c0 {
    status = "okay";
    
    /* SDA 핀: P0.29 (사진상 기본) */
    sda-pin = <29>; 
    /* SCL 핀: P0.31 (사진상 기본) */
    scl-pin = <31>;

    /* PIM447 트랙볼 장치 정의 */
    pimoroni_pim447: pimoroni_pim447@a {
        compatible = "zmk,pimoroni-pim447";
        status = "okay";
        reg = <0xa>; /* PIM447의 기본 I2C 주소 0x0A */
		
        /* 
         * 인터럽트(INT) 핀 설정은 사용하지 않음 (제외됨).
         */
        
        automouse-layer = <2>; /* 레이어 2에서 마우스 자동 활성화 */
	 };
};
