/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "corne.dtsi" 
#include <dt-bindings/behavior_pim447.h>
#include <dt-bindings/zmk/mouse.h> 

&default_transform {
    col-offset = <6>;
    // angle = <0>;
};

&five_column_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 21 GPIO_ACTIVE_HIGH>
        ;
};

/* I2C 컨트롤러 설정 */
&pro_micro_i2c {
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    
    pimoroni_pim447: pimoroni_pim447@a {
        compatible = "pimoroni,pim447-trackball"; 
        status = "okay";
        reg = <0x0a>; 
        int-gpios = <&gpio1 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        mount-point = "right"; 
        // angle = <0>; 
    };
};

/* ZMK Behaviors와 트랙볼 장치 연결 */
/ {
    behaviors {
        zmk_behavior_pim447: behavior_pim447 {
            compatible = "zmk,behavior-pim447";
            label = "PIM447_Behavior";
            trackball = <&pimoroni_pim447>;
            #binding-cells = <1>; // <-- 이 줄을 추가했습니다.
        };
    };
};

